@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
:root{
    --bg:#faf9f7;
    --primary-color:#020042;
    --secondary-color:#fff;
    --fade-color:#6f7476;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
.material-symbols-outlined {
    margin-right: .6rem;
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}
Link{
    text-decoration: none;
}


/* REASPONSIVENESS START FROM HERE */

@media only screen and (max-width: 1400px) {
    html{
        font-size: 55.5%;
    }
  }
@media only screen and (max-width: 1200px) {
    html{
        font-size: 45.5%;
    }
  }
@media only screen and (max-width: 992px) {
    html{
        font-size: 35.5%;
    }
  }
@media only screen and (max-width: 767px) {
    .material-symbols-outlined {
        font-size: 10px;
    }
  }
@media only screen and (max-width: 576px) {
    .material-symbols-outlined {
        color: var(--primary-color);
        font-size: 5rem;
    }
  }
